@import "../../scss/_variables.scss";
@import "../../styles.scss";

.center{
  width: 500px;
  height: 200px;
  border: 1px solid #0D0D0D;
  border-radius: 6px;
  padding-top: 40px;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -250px;
}

.clicked{
  background-color: $shadow;
  font-weight: bold;
}

.nonclicked{
  background-color: rgba(166, 146, 129, 0.6);
}

.click-menu:hover{
  cursor: pointer;
}

div.border-end {
  border-right: 1.5px solid white;
}

.shadow-bg{
  background-color: $shadow;
}
