<div class="position-absolute center px-4 text-center" *ngIf="!isAuthentication; else adminContents">
  <div class="mb-3"><strong>관리자 인증</strong></div>
  <form #adminForm="ngForm" (ngSubmit)="onSubmit(adminForm)">
    <input type="text" name="admin" class="form-control mb-4" ngModel>
    <div class="d-flex justify-content-end">
      <input type="submit" value="인증하기" class="btn-sm">
    </div>
  </form>
</div>
<ng-template #adminContents>
  <div class="container py-5">
    <div class="d-flex text-center">
      <div class="w-50">상담 신청 정보</div>
      <div class="w-50">대학 정보</div>
    </div>
    <div>관련 정보들</div>
  </div>
</ng-template>
