ul > li{
  padding-bottom: 0.3rem;
}

.under-line-box{
  height: 13%;
  bottom: 26%;
  left: 2.5%;
  width: 70%;
}

//#title1 .under-line-box{
//  bottom: 26%;
//  left: 2.5%;
//  width: 70%;
//}
//
//#title2 .under-line-box{
//  bottom: 26%;
//  left: 2.5%;
//  width: 70%;
//}

h3{
  text-shadow: 5px 7px 5px #c6c6c6;
}

.fixed-bottom{
  bottom: 1.5rem;
  left: 1rem;
}
