<div class="container contents-box">
  <div class="d-flex ml-2 mb-5">
    <div class="p-3 click-menu" routerLink="/introduce/my/uni">MyUni 소개</div>
    <div class="p-3 click-menu bg-shadow" routerLink="/introduce/consultant">컨설턴트 소개</div>
  </div>
  <h3 class="h3 position-relative py-4" id="title1">
    컨설턴트 소개
    <div class="under-line-box position-absolute"></div>
  </h3>
  <div class="row pb-5">
    <div class="col-md-5">
      <img src="assets/images/consultant-profile.png" class="img-fluid w-100 p-3">
      <strong>학교 밖 청소년 전문 진학 컨설턴트/강사 강예은</strong>
    </div>
    <div class="col-md-7 pt-4">
      <h5 class="h5 p-2">약력</h5>
      <ul>
        <li>김포시청소년육성재단 학교 밖 청소년 지원센터 대학입시 소양교육 강사(2018~)</li>
        <li>서울특별시교육청 학교 밖 청소년 도움센터 진학 강의/컨설팅/면접 교육(2020)</li>
        <li>부산광역시/김포시 학교 밖 청소년 지원 센터 진학 컨설팅(2021)</li>
        <li>우수 멘토 부문 여성가족부장관상 수상(2019)</li>
        <li>김포시청소년육성재단 이사장 표창장(2018)</li>
        <li>서울시자원봉사센터 봉사 공모전 최우수상 수상(2020)</li>
        <li>검정고시 전형 맞춤 진학 홈페이지 MY UNI 개발 및 운영</li>
        <li>학교 밖 청소년 진로교육 SW 키트 개발 및 기부</li>
        <li>서울시교육청 자율 청소년 메이커톤 프로젝트 멘토</li>
        <li>부산광역시 학교 밖 청소년 지원 센터 실무자 교육 진행</li>
        <li>기장군 진로교육지원센터 학교 밖 청소년 맞춤형 입시설명회</li>
        <li>울산광역시 학교 밖 청소년 지원 센터 학교 밖 청소년 맞춤형 입시설명회</li>
        <li>한국 청소년 상담복지 개발원 학교 밖 청소년 진학 가이드 영상 촬영</li>
      </ul>
    </div>
  </div>
  <div class="mt-2">
    <h3 class="h3 py-4 position-relative" id="title2">
        2021 부산광역시 학교 밖 청소년 실무자 대상 대학 입시 설명회
      <div class="under-line-box position-absolute"></div>
    </h3>
    <div class="px-5 py-4">
      <img src="assets/images/부산입시설명회.png" class="img-fluid w-100">
    </div>
  </div>
  <div class="d-flex justify-content-end">
    <a routerLink="/reviews" class="font-weight-bolder">후기 바로가기</a>
  </div>
</div>
