<app-nav-bar></app-nav-bar>
<div class="container contents-box">
  <h1 class="h1 text-right pr-2 mb-4">면접 컨설팅</h1>
  <div class="mb-5">
    <div class="d-flex" style="margin:0;">
      <div class="p-3 click-menu" routerLink="/ged/consulting">수시지원 컨설팅</div>
      <div class="p-3 click-menu" routerLink="/consulting/cover/letter">자기소개서 컨설팅</div>
      <div class="p-3 click-menu selected-menu" routerLink="/consulting/interview">면접 컨설팅</div>
      <div class="p-3 click-menu" routerLink="/consulting/essay">논술 컨설팅</div>
    </div>
    <div class="divider-box"></div>
  </div>
  <div class="px-3">
    <h3 class="h3">면접 컨설팅 세부 프로세스</h3>
    <div class="text-left mb-3" style="font-size: small; width: 80%">* 실시간 피드백 및 약점 보완 + 개인별 면접 영상 촬영 진행</div>
    <div class="text-center bg-shadow mb-5 round-10 text-white shadow row py-5">
      <div class="col-md-1"></div>
      <div class="col-md-2 mb-4 process-card">
        <div class="process-title">STEP1</div>
        <div class="process-box">
          <div class="process-body">
            <div class="process-detail">자기소개서/포트폴리오 바탕 예상 질문 추출</div>
          </div>
        </div>
      </div>
      <div class="col-md-2 mb-4 process-card">
        <div class="process-title">STEP2</div>
        <div class="process-box">
          <div class="process-body">
            <div class="process-detail">기본 질문 연습 및 모의 면접</div>
          </div>
        </div>
      </div>
      <div class="col-md-2 mb-4 process-card">
        <div class="process-title">STEP3</div>
        <div class="process-box">
          <div class="process-body">
            <div class="process-detail">심화 질문 연습 및 모의 면접</div>
          </div>
        </div>
      </div>
      <div class="col-md-2 mb-4 process-card">
        <div class="process-title">STEP4</div>
        <div class="process-box">
          <div class="process-body">
            <div class="process-detail">개인별 맞춤 질문 연습 및 모의 면접</div>
          </div>
        </div>
      </div>
      <div class="col-md-2 mb-4 position-relative process-card">
        <div class="process-title">STEP5</div>
        <div class="process-box">
          <div class="process-body">
            <div class="process-detail">실전 면접</div>
          </div>
        </div>
        <div class="position-absolute text-left" style="font-size: small; width: 80%">* 집단/개인 면접 + 면접 착장 + 입장부터 퇴장까지</div>
      </div>
      <div class="col-md-1"></div>
    </div>
    <h3 class="h3 position-relative py-4" id="title1">
      2020 대입 합격자 면접 컨설팅 후기
      <div class="under-line-box position-absolute"></div>
    </h3>
    <div class="px-5 py-4">
      <h5 class="h5">[면접 카톡 후기]</h5>
      <img src="assets/images/interview-review-1.png" class="img-fluid w-50 pr-3">
    </div>
    <div class="px-5 py-4">
      <h5 class="h5">[2020 면접 대비 교육 당시 서프라이즈로 합격증 보여주는 학생]</h5>
      <img src="assets/images/interview-review-2.png" class="img-fluid w-100">
    </div>
  </div>
</div>

