<div class="p-3"></div>
<!--<table class="table bg-white-50 text-center">-->
<!--  <thead>-->
<!--  <tr>-->
<!--    <th>-</th>-->
<!--    <th>이름</th>-->
<!--    <th>나이</th>-->
<!--    <th>성별</th>-->
<!--    <th>평균</th>-->
<!--    <th>지원 전형</th>-->
<!--    <th>상담 날짜</th>-->
<!--    <th>입금 여부</th>-->
<!--  </tr>-->
<!--  </thead>-->
<!--  <tbody>-->
<!--  <tr>-->
<!--    <td>0</td>-->
<!--    <td>김아무개</td>-->
<!--    <td>18</td>-->
<!--    <td>여</td>-->
<!--    <td>87</td>-->
<!--    <td>학생부 교과(검정고시 성적)</td>-->
<!--    <td>2021.06.08 17:00</td>-->
<!--    <td>미입금</td>-->
<!--  </tr>-->
<!--  <tr>-->
<!--    <td>1</td>-->
<!--    <td>김아마개</td>-->
<!--    <td>18</td>-->
<!--    <td>여</td>-->
<!--    <td>88</td>-->
<!--    <td>학생부 교과(검정고시 성적)</td>-->
<!--    <td>2021.06.08 19:00</td>-->
<!--    <td>미입금</td>-->
<!--  </tr>-->
<!--  <tr>-->
<!--    <td>2</td>-->
<!--    <td>박아무개</td>-->
<!--    <td>19</td>-->
<!--    <td>남</td>-->
<!--    <td>96</td>-->
<!--    <td>학생부 교과 면접(검정고시 성적 + 면접)</td>-->
<!--    <td>2021.06.10 14:00</td>-->
<!--    <td>입금</td>-->
<!--  </tr>-->
<!--  <tr>-->
<!--    <td>3</td>-->
<!--    <td>조아무개</td>-->
<!--    <td>20</td>-->
<!--    <td>남</td>-->
<!--    <td>76</td>-->
<!--    <td>학생부 종합(검정고시 성적 + 자기소개서 작성 + 면접)</td>-->
<!--    <td>2021.06.10 17:00</td>-->
<!--    <td>미입금</td>-->
<!--  </tr>-->
<!--  <tr>-->
<!--    <td>4</td>-->
<!--    <td>하아무개</td>-->
<!--    <td>20</td>-->
<!--    <td>여</td>-->
<!--    <td>84.5</td>-->
<!--    <td>기타</td>-->
<!--    <td>2021.06.10 19:00</td>-->
<!--    <td>입금</td>-->
<!--  </tr>-->
<!--  <tr>-->
<!--    <td>5</td>-->
<!--    <td>조아무개</td>-->
<!--    <td>19</td>-->
<!--    <td>남</td>-->
<!--    <td>90</td>-->
<!--    <td>학생부 종합(검정고시 성적 + 자기소개서 작성 + 면접)</td>-->
<!--    <td>2021.06.12 14:00</td>-->
<!--    <td>입금</td>-->
<!--  </tr>-->
<!--  <tr>-->
<!--    <td>6</td>-->
<!--    <td>최아무개</td>-->
<!--    <td>18</td>-->
<!--    <td>남</td>-->
<!--    <td>96</td>-->
<!--    <td>정시(수능)</td>-->
<!--    <td>2021.06.12 19:00</td>-->
<!--    <td (click)="changeState()" class="btn-sm" type="button">{{ this.mss }}</td>-->
<!--  </tr>-->
<!--  </tbody>-->
<!--</table>-->
<div class="table-responsive">
  <table class="table bg-white-50 text-center" style="min-height: 500px" *ngFor="let consultingTable of consultingTableList" id="{{ consultingTable.id }}">
    <thead>
    <tr>
      <th>-</th>
      <th>이름</th>
      <th>나이</th>
      <th>성별</th>
      <th>상담 날짜</th>
      <th>입금 여부</th>
    </tr>
    </thead>
    <tbody>
    <tr class="position-relative" *ngFor="let consulting of consultingTable.result">
      <td>5</td>
      <td>{{ consulting.name }}</td>
      <td>{{ consulting.age }}</td>
      <td *ngIf="consulting.gender==='w'; else maleText">여</td>
      <ng-template #maleText>
        <td>남</td>
      </ng-template>
      <td>{{ consulting.date_time }}</td>
      <td *ngIf="consulting.payment; else unpaidText">{{ consulting.payment }}</td>
      <ng-template #unpaidText>
        <td>미입금</td>
      </ng-template>
      <div class="position-absolute additional-box">
        <div><strong>컨설팅 옵션</strong>: {{ consultingOption[changeStrToInt(consulting.option)] }}</div>
        <div><strong>지원 전형</strong>: {{ application[changeStrToInt(consulting.application)] }}</div>
        <div><strong>지원 이유</strong>: {{ consulting.application_reason }}</div>
        <div>
          <div><strong>점수</strong>(평균: {{consulting.average}})</div>
          <div>
            <span class="pl-2">국어: {{consulting.scores.korean}}</span>
            <span class="pl-2">영어: {{consulting.scores.english}}</span>
            <span class="pl-2">수학: {{consulting.scores.math}}</span>
            <span class="pl-2">사회: {{consulting.scores.society}}</span>
            <span class="pl-2">과학: {{consulting.scores.science}}</span>
            <span class="pl-2">선택: {{consulting.scores.choice}}</span>
          </div>
        </div>
        <div><strong>[comment]</strong></div>
        <div>
          <textarea name="comment" class="w-100" value="{{consulting.comment}}"></textarea>
          <input type="submit" name="submit" value="저장" class="btn-secondary">
        </div>
      </div>
    </tr>
    </tbody>
  </table>
</div>
