@import "../../../scss/_variables.scss";
@import "../../../styles.scss";

.table td{
  height: 50px;
}

.additional-box{
  left: 0;
  top: 50px;
  height: 300px;
  padding: 15px 23px 0 23px;
  width: 100%;
  text-align: left !important;

  textarea{
    height: 150px;
  }
}
