<div class="p-3"></div>
<div class="table-responsive bg-white-50">
  <div class="text-center" style="min-height: 500px" [ngClass]="{'hidden':consultingTable.id!=tableTab}" *ngFor="let consultingTable of consultingTableList" id="{{ consultingTable.id }}">
    <div class="text-center border-bottom font-weight-bold p-2">
      {{consultingTable.result[0][1].name}}
    </div>
    <div class="row py-3 border-bottom font-weight-bold">
      <div class="col-md-4 border-right">{{consultingTable.result[0][1].age}}</div>
      <div class="col-md-4 border-right" *ngIf="consultingTable.result[0][1].gender==='w'; else maleText">여</div>
      <ng-template #maleText>
        <div class="col-md-4 border-right">남</div>
      </ng-template>
      <div class="col-md-4">{{consultingTable.result[0][1].phone}}</div>
    </div>
    <div class="row py-2 border-bottom">
      <div class="col-md-6 border-right">상담 날짜</div>
      <div class="col-md-6">입금 여부</div>
    </div>
    <div class="border-bottom" *ngFor="let consulting of consultingTable.result">
      <div class="row py-2">
<!--        <div class="col-md-2">5</div>-->
<!--        <div class="col-md-2">{{ consulting[1].name }}</div>-->
<!--        <div class="col-md-2">{{ consulting[1].age }}</div>-->
<!--        <div class="col-md-2" *ngIf="consulting[1].gender==='w'; else maleText">여</div>-->
<!--        <ng-template #maleText>-->
<!--          <div class="col-md-2">남</div>-->
<!--        </ng-template>-->
        <div class="col-md-6 item-hover item-underline item-border" id="{{ consulting[0] }}" (click)="showAdditionalBox(consulting[0])">{{ consulting[1].date_time }}</div>
        <div class="col-md-6 item-hover" *ngIf="consulting[1].payment; else unpaidText" (click)="onSubmit(consulting[2], !consulting[1].payment)">입금</div>
        <ng-template #unpaidText>
          <div class="col-md-6 item-hover" (click)="onSubmit(consulting[2], !consulting[1].payment)">미입금</div>
        </ng-template>
      </div>
      <div class="additional-box hidden" id="{{ consulting[0] }}-additional-box">
        <div><strong>컨설팅 옵션</strong>: {{ consulting[1].option }}</div>
        <div><strong>지원 전형</strong>: {{ consulting[1].application }}</div>
        <div><strong>지원 이유</strong>: {{ consulting[1].application_reason }}</div>
        <div>
          <div><strong>점수</strong>(평균: {{consulting[1].average}})</div>
          <div>
            <span class="pl-2">국어: {{consulting[1].scores.korean}}</span>
            <span class="pl-2">영어: {{consulting[1].scores.english}}</span>
            <span class="pl-2">수학: {{consulting[1].scores.math}}</span>
            <span class="pl-2">사회: {{consulting[1].scores.society}}</span>
            <span class="pl-2">과학: {{consulting[1].scores.science}}</span>
            <span class="pl-2">한국사: {{consulting[1].scores.history}}</span>
            <span class="pl-2">선택: {{consulting[1].scores.choice}}</span>
          </div>
        </div>
        <div>
          <div><strong>희망 대학 및 학과</strong></div>
          <div>
            <div class="pl-2">1지망: {{ consulting[1].hope[1].uni }} {{ consulting[1].hope[1].major }}</div>
            <div class="pl-2">2지망: {{ consulting[1].hope[2].uni }} {{ consulting[1].hope[2].major }}</div>
            <div class="pl-2">3지망: {{ consulting[1].hope[3].uni }} {{ consulting[1].hope[3].major }}</div>
            <div class="pl-2">4지망: {{ consulting[1].hope[4].uni }} {{ consulting[1].hope[4].major }}</div>
            <div class="pl-2">5지망: {{ consulting[1].hope[5].uni }} {{ consulting[1].hope[5].major }}</div>
            <div class="pl-2">6지망: {{ consulting[1].hope[6].uni }} {{ consulting[1].hope[6].major }}</div>
          </div>
        </div>
        <div *ngIf="consulting[1].note">
          <div><strong>[참고]</strong></div>
          <div>{{ consulting[1].note }}</div>
        </div>
        <div><strong>환불계좌</strong>: {{consulting[1].account}}</div>
        <div><strong>[comment]</strong></div>
        <div>
          <form (submit)="onSubmit(consulting[2], consulting[1].payment)" id="update-comment-form">
            <textarea name="comment" id="comment{{consulting[2]}}" class="w-100" rows="25">{{consulting[1].comment}}</textarea>
            <input type="submit" name="submit" value="저장" class="btn-secondary">
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center overflow-auto pt-3">
    <span class="px-2 item-hover" *ngFor="let i of tableNumber" (click)="tabTable(i)">{{ i }}</span>
  </div>
</div>

