@import "../../../scss/_variables.scss";
@import "../../../styles.scss";

.table td{
  height: 50px;
}

.additional-box{
  padding: 15px 23px 15px 23px;
  width: 100%;
  text-align: left !important;

  textarea, input[type=text]{
    height: 150px;
  }
}
