<table class="table bg-white-50 text-center">
  <thead>
  <tr>
    <th>-</th>
    <th>대학명</th>
    <th>지역</th>
    <th>유형</th>
    <th>관련 링크</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>0</td>
    <td>가대학교</td>
    <td>서울/경기</td>
    <td>0</td>
    <td>바로가기</td>
  </tr>
  <tr>
    <td>1</td>
    <td>나대학교</td>
    <td>서울/경기</td>
    <td>0</td>
    <td>바로가기</td>
  </tr>
  <tr>
    <td>2</td>
    <td>다대학교</td>
    <td>서울/경기</td>
    <td>0</td>
    <td>바로가기</td>
  </tr>
  <tr>
    <td>3</td>
    <td>라대학교</td>
    <td>부산</td>
    <td>0</td>
    <td></td>
  </tr>
  <tr>
    <td>4</td>
    <td>마대학교</td>
    <td>전남</td>
    <td>2</td>
    <td>바로가기</td>
  </tr>
  <tr>
    <td>5</td>
    <td>바대학교</td>
    <td>전남</td>
    <td>3</td>
    <td></td>
  </tr>
  </tbody>
</table>
<button class="btn my-2">추가하기</button>
