<app-nav-bar></app-nav-bar>
<div class="container contents-box">
  <h1 class="h1 text-right pr-2">논술 컨설팅</h1>
  <div class="mb-5">
    <div class="d-flex" style="margin:0;">
      <div class="p-3 click-menu selected-menu" routerLink="/consulting/essay">논술 컨설팅</div>
      <div class="p-3 click-menu" routerLink="/ged/consulting">수시지원 컨설팅</div>
      <div class="p-3 click-menu" routerLink="/consulting/cover/letter">자기소개서 컨설팅</div>
      <div class="p-3 click-menu" routerLink="/consulting/interview">면접 컨설팅</div>
    </div>
    <div class="divider-box"></div>
  </div>
  <div class="px-3">
    <div class="text-center bg-shadow mb-5 round-10 text-white shadow" style="height: 200px; padding-top: 85px">
      논술 컨설팅 방법에 대한 설명
    </div>
    <h3 class="h3 position-relative py-4" id="title1">
      논술 첨삭
      <div class="under-line-box position-absolute"></div>
    </h3>
    <table class="table text-center" *ngIf="loadPosts; else noPostMessage">
      <thead>
      <tr>
        <th scope="col">대학</th>
        <th scope="col">분류</th>
        <th scope="col">작성자</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>00 대학교</td>
        <td>00 회차 모의논술</td>
        <td>강*은</td>
      </tr>
      </tbody>
    </table>
    <div class="p-5"></div>
    <ng-template #noPostMessage>
      <table class="table text-center">
        <thead>
        <tr>
          <th scope="col">대학</th>
          <th scope="col">분류</th>
          <th scope="col">작성자</th>
        </tr>
        </thead>
      </table>
      <div class="text-center" style="padding: 150px 0">
        아직 작성된 글이 없습니다.
      </div>
    </ng-template>
  </div>
</div>
<div class="fixed-bottom p-4 shadow-sm">
  <button class="btn">논술 상담 작성</button>
</div>
