<div class="container contents-box">
  <div class="p-5 text-center">
    <h1 class="h1 py-4">
      검정고시 출신자 맞춤 진학 컨설팅 안내
    </h1>
  </div>
  <div class="py-4">
    <div class="d-flex header-box mb-4">
      <fa-icon [icon]="['fas', 'cookie-bite']" size="lg"></fa-icon>
      <h3 class="h3">대상 (아래의 항목에 해당되시는 분들)</h3>
    </div>
    <div class="pl-4">
      <p><strong>1.</strong> 검정고시 성적을 환산하고, 입시 결과를 비교해봐도, 희망 대학을 못 정하겠다!</p>
      <p><strong>2.</strong> 희망 대학-학과는 정했는데, 과연 내가 갈 수 있는 대학인지를 알아보고 싶다!</p>
      <p><strong>3.</strong> 대학입시 소양교육 강의를 아무리 돌려봐도 자기소개서 작성이 막막하다!</p>
      <p><strong>4.</strong> 자기소개서를 열심히 작성했는데, 주변에 첨삭해주실 분이 계시지 않는다!</p>
      <p><strong>5.</strong> 혼자서 준비할 면접이 벌써부터 걱정이다!</p>
    </div>
  </div>
  <div class="py-4">
    <div class="d-flex header-box mb-4">
      <fa-icon [icon]="['fas', 'cookie-bite']" size="lg"></fa-icon>
      <h3 class="h3">강사 및 커리큘럼 소개</h3>
    </div>
    <div class="pl-4 text-break">
      <a href="https://www.youtube.com/watch?v=7rEQOlXro00&amp;t=7s">- https://www.youtube.com/watch?v=7rEQOlXro00&amp;t=7s</a>
    </div>
  </div>
  <div class="py-4">
    <div class="d-flex header-box mb-4">
      <fa-icon [icon]="['fas', 'cookie-bite']" size="lg"></fa-icon>
      <h3 class="h3">컨설팅 내용</h3>
    </div>
    <div class="pl-4">
      <p>- 검정고시 출신자 전형 대입 경향 분석</p>
      <p>- 검정고시 성적 맞춤 지원 가능 대학 제시</p>
      <p>- 목표 대학/학과 설정, 지원 전략 수립</p>
      <p>- 전형(학생부 교과/종합/적성/수능) 선택</p>
      <p>- 자기소개서 재료 선정 및 첨삭</p>
      <p>- 수시 원서 접수 교육(9월 23일~29일)</p>
      <p>- 면접 준비(기본 문항 분석 및 모의 면접 진행)</p>
    </div>
  </div>
  <div class="py-4">
    <div class="d-flex header-box mb-4">
      <fa-icon [icon]="['fas', 'cookie-bite']" size="lg"></fa-icon>
      <h3 class="h3">모집개요</h3>
    </div>
    <div class="pl-4">
      <p>- 수업방식: ZOOM을 활용한 온라인 수업<br>
        (모의 면접은 오프라인이 원칙이지만, 코로나 19 상황을 반영하여 진행합니다.)</p>
      <p>- 수업시간: 아래의 설문지에서 희망 컨설팅 시간을 선택해주시면, 개별적으로 연락드리도록 하겠습니다.</p>
      <p>- 수업대상: 학부모님도 컨설팅 참여 가능합니다.</p>
    </div>
  </div>
  <div class="py-4">
    <div class="d-flex header-box mb-4">
      <fa-icon [icon]="['fas', 'cookie-bite']" size="lg"></fa-icon>
      <h3 class="h3">신청방법</h3>
    </div>
    <div class="pl-4 text-break">
<!--      <p>- 구글 설문지 제출<br>-->
<!--        <a class="text-break" href="https://docs.google.com/forms/d/e/1FAIpQLSd0VlLOzNwJUSXdF5zMSMgVAiuZBWEiHI1gcRIjTbBkF5crMg/viewform">-->
<!--          https://docs.google.com/forms/d/e/1FAIpQLSd0VlLO<br>zNwJUSXdF5zMSMgVAiuZBWEiHI1gcRIjTbBkF5crMg/viewform-->
<!--        </a>-->
<!--      </p>-->
      <a routerLink="/request/consulting">상담신청 바로 가기</a>
    </div>
  </div>
  <div class="py-4">
    <div class="d-flex header-box mb-4">
      <fa-icon [icon]="['fas', 'cookie-bite']" size="lg"></fa-icon>
      <h3 class="h3">문의사항</h3>
    </div>
    <div class="pl-4">
      <p>- 진학 컨설팅 관련 문의사항은 imaginemyuni@gmail.com으로 메일 보내주세요.</p>
    </div>
  </div>
</div>

