<app-nav-bar></app-nav-bar>
<div class="container contents-box">
  <h1 class="h1 text-right pr-2">수시지원 컨설팅</h1>
  <div class="mb-5">
    <div class="d-flex" style="margin:0;">
      <div class="p-3 click-menu selected-menu" routerLink="/ged/consulting">수시지원 컨설팅</div>
      <div class="p-3 click-menu" routerLink="/consulting/cover/letter">자기소개서 컨설팅</div>
      <div class="p-3 click-menu" routerLink="/consulting/interview">면접 컨설팅</div>
      <div class="p-3 click-menu" routerLink="/consulting/essay">논술 컨설팅</div>
    </div>
    <div class="divider-box"></div>
  </div>
  <div class="px-3">
    <h3 class="h3">수시지원 컨설팅 세부 프로세스</h3>
    <div class="text-center bg-background mb-5 round-10 text-white shadow row py-5">
      <div class="col-md-1"></div>
      <div class="col-md-2 mb-4">
        <div class="process-title">STEP1</div>
        <div class="process-box">
          <div class="process-body">
            <div class="process-detail">준비도/성향 파악</div>
          </div>
        </div>
      </div>
      <div class="col-md-2 mb-4">
        <div class="process-title">STEP2</div>
        <div class="process-box">
          <div class="process-body">
            <div class="process-detail">희망 지원 대학/학과 파악</div>
          </div>
        </div>
      </div>
      <div class="col-md-2 mb-4">
        <div class="process-title">STEP3</div>
        <div class="process-box">
          <div class="process-body">
            <div class="process-detail">희망 지원 대학/학과 분석</div>
          </div>
        </div>
      </div>
      <div class="col-md-2 mb-4 position-relative">
        <div class="process-title">STEP4</div>
        <div class="process-box">
          <div class="process-body">
            <div class="process-detail">입학 사례 기반 대학 선정</div>
          </div>
        </div>
        <div class="position-absolute text-left" style="font-size: small; width: 80%">* 2015~2021 학교 밖 청소년 진학 사례 보유</div>
      </div>
      <div class="col-md-2 mb-4">
        <div class="process-title">STEP5</div>
        <div class="process-box">
          <div class="process-body">
            <div class="process-detail">지원 전략 및 월별 계획 수립</div>
          </div>
        </div>
      </div>
      <div class="col-md-1"></div>
    </div>
    <div class="py-4">
      <h3 class="h3 position-relative py-4">
        대상
        <div class="under-line-box position-absolute"></div>
      </h3>
      <div class="pl-4">
        <div class="mb-3">아래의 항목에 해당되시는 분들 모두!! </div>
        <div class="p-3">
          <div class="text-center row">
            <div class="col-md-4 p-3">
              <div class="card p-2 set-focusing">
                <div class="card-body">
                  <div class="card-detail">
                    1. 검정고시 성적을 환산하고, 입시 결과를 비교해봐도, 희망 대학을 못 정하겠다!
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 p-3">
              <div class="card p-2 set-focusing">
                <div class="card-body">
                  <div class="card-detail">
                    2. 희망 대학-학과는 정했는데, 과연 내가 갈 수 있는 대학인지를 알아보고 싶다!
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 p-3">
              <div class="card p-2 set-focusing">
                <div class="card-body">
                  <div class="card-detail">
                    3. 대학입시 소양교육 강의를 아무리 돌려봐도 자기소개서 작성이 막막하다!
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center row">
            <div class="col-md-6 p-3">
              <div class="card p-2 set-focusing">
                <div class="card-body">
                  <div class="card-detail">
                    4. 자기소개서를 열심히 작성했는데, 주변에 첨삭해주실 분이 계시지 않는다!
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 p-3">
              <div class="card p-2 set-focusing">
                <div class="card-body">
                  <div class="card-detail">
                    5. 혼자서 준비할 면접이 벌써부터 걱정이다!
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="py-4">
      <h3 class="h3 position-relative py-4">
        강사 및 커리큘럼 소개
        <div class="under-line-box position-absolute"></div>
      </h3>
      <div class="pl-4 text-break">
        <div class="m-4">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/7rEQOlXro00" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
<!--        <a href="https://www.youtube.com/watch?v=7rEQOlXro00&amp;t=7s">- https://www.youtube.com/watch?v=7rEQOlXro00&amp;t=7s</a>-->
      </div>
    </div>
    <div class="py-4">
      <h3 class="h3 position-relative py-4">
        컨설팅 내용
        <div class="under-line-box position-absolute"></div>
      </h3>
      <div class="pl-4">
        <p>- 검정고시 출신자 전형 대입 경향 분석</p>
        <p>- 검정고시 성적 맞춤 지원 가능 대학 제시</p>
        <p>- 목표 대학/학과 설정, 지원 전략 수립</p>
        <p>- 전형(학생부 교과/종합/적성/수능) 선택</p>
        <p>- 자기소개서 재료 선정 및 첨삭</p>
<!--        날짜 예은이가 매 년 바꿀 수 있게-->
        <p>- 수시 원서 접수<strong>(9월 10일~14일)</strong> 교육 </p>
        <p>- 면접 준비(기본 문항 분석 및 모의 면접 진행)</p>
      </div>
    </div>
    <div class="py-4">
      <h3 class="h3 position-relative py-4">
        모집개요
        <div class="under-line-box position-absolute"></div>
      </h3>
      <div class="pl-4 row">
        <div class="col-md-4">
          <div class="card p-3">
            <h4 class="h4 text-left">수업방식</h4>
            <div class="card-body">
              <div class="card-detail">
                ZOOM을 활용한 온라인 수업<br>
                (모의 면접은 오프라인이 원칙이지만, 코로나 19 상황을 반영하여 진행합니다.)
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card p-3">
            <h4 class="h4 text-left">수업시간</h4>
            <div class="card-body">
              <div class="card-detail">
                아래의 설문지에서 희망 컨설팅 시간을 선택해주시면, 개별적으로 연락드리도록 하겠습니다.
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card p-3">
            <h4 class="h4 text-left">수업대상</h4>
            <div class="card-body">
              <div class="card-detail">
                학부모님도 컨설팅 참여 가능합니다.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="py-4">
      <h3 class="h3 position-relative py-4">
        신청방법
        <div class="under-line-box position-absolute"></div>
      </h3>
      <div class="pl-4 text-break">
        <a routerLink="/request/consulting" class="primary-text">상담신청 바로 가기</a>
      </div>
    </div>
    <div class="py-4">
      <h3 class="h3 position-relative py-4">
        문의사항
        <div class="under-line-box position-absolute"></div>
      </h3>
      <div class="pl-4">
        <p>- 진학 컨설팅 관련 문의사항은 <a href="mailto: imaginemyuni@gmail.com">imaginemyuni@gmail.com</a>으로 메일 보내주세요.</p>
      </div>
    </div>
  </div>
</div>
