<nav class="navbar navbar-expand-lg position-fixed w-100">
  <div class="nav-absolute-item" style="min-height: 45px;">
    <div class="position-absolute d-flex main">
      <a class="navbar-brand my-2 nav-header" routerLink="">MYUNI</a>
      <fa-icon [icon]="['fas', 'bars']" size="lg" class="navbar-toggler mr-auto my-2" (click)="isMenuCollapsed = !isMenuCollapsed"></fa-icon>
    </div>
  </div>
  <!-- Step 3: Toggle the value of the property when the toggler button is clicked. -->
  <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse" (mouseover)="isopen=true" (mouseleave)="isopen=false">
    <ul class="navbar-nav w-100">
      <li ngbDropdown class="nav-item active">
        <div class="text-center py-2 nav-header" (click)="changeState()" style="min-height: 45px;" routerLink="/introduce/my/uni">MyUni</div>
        <div *ngIf="isopen" class="pt-2 pb-3 nav-sub-item">
          <div ngbDropdownItem class="text-center item-hover" routerLink="/introduce/my/uni">MyUni 소개</div>
          <div ngbDropdownItem class="text-center item-hover" routerLink="/introduce/consultant">컨설턴트 소개</div>
          <div ngbDropdownItem class="text-center item-hover" routerLink="/reviews">컨설팅 후기</div>
        </div>
      </li>
      <li ngbDropdown class="nav-item active">
        <!--header를 클릭하면 바로 가게 할지 나머지 세부 헤더 있는 것들과 통일할지-->
        <div class="text-center py-2 nav-header" (click)="changeState()" style="min-height: 45px;" routerLink="/ged/conversion">비교내신 환산</div>
        <div *ngIf="isopen" class="pt-2 pb-3 nav-sub-item">
          <div ngbDropdownItem class="text-center item-hover" routerLink="/ged/conversion">비교내신 환산</div>
        </div>
      </li>
      <li ngbDropdown class="nav-item active">
        <div class="text-center py-2 nav-header" (click)="changeState()" style="min-height: 45px;" routerLink="/ged/consulting">진학 컨설팅</div>
        <div *ngIf="isopen" class="pt-2 pb-3 nav-sub-item">
          <div ngbDropdownItem class="text-center item-hover" routerLink="/ged/consulting">수시 지원</div>
          <div ngbDropdownItem class="text-center item-hover disabled">자기소개서</div>
          <div ngbDropdownItem class="text-center item-hover disabled">면접</div>
          <div ngbDropdownItem class="text-center item-hover" routerLink="consulting/essay">논술 첨삭</div>
        </div>
      </li>
      <li ngbDropdown class="nav-item active">
        <div class="text-center py-2 nav-header" (click)="changeState()" style="min-height: 45px;" routerLink="/materials">대학 입시 소양 교육</div>
        <div *ngIf="isopen" class="pt-2 pb-3 nav-sub-item">
          <div ngbDropdownItem class="text-center item-hover" routerLink="/materials">대학 입시 소양 교육</div>
        </div>
      </li>
    </ul>
  </div>
  <div class="nav-absolute-item">
    <div class="position-absolute btn-box">
      <div class="background-box"></div>
      <button class="nav-absolute-item btn my-2 nav-header" routerLink="/request/consulting">컨설팅 신청</button>
    </div>
  </div>
</nav>
