<app-nav-bar></app-nav-bar>
<div class="container contents-box">
  <div class="p-5 text-center">
    <h1 class="h1 py-4">
      검정고시 전형 내신 환산
    </h1>
  </div>
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
<!--    <div class="card mb-5">-->
<!--      <div class="card-body">-->
<!--        <h3 class="card-title h3 mb-4">반영과목 및 비율 선택</h3>-->
<!--        <div class="form-check mb-2 ml-3">-->
<!--          <input class="form-check-input" type="radio" name="status" id="1" value="0" aria-describedby="radioHelpBlock">-->
<!--          <label class="form-check-label" id="radioHelpBlock" for="1">-->
<!--            전과목-->
<!--          </label>-->
<!--          &lt;!&ndash; <input type="radio" name="status" id="2" value="1"/><label for="2">필수과목(국/영/수/사/과/한)</label><br>-->
<!--          <input type="radio" name="status" id="3" value="2"/><label for="3">국/영/수 가중 반영</label>-->
<!--          <input type="radio" name="status" id="4" value="3"/><label for="4">상위</label> &ndash;&gt;-->
<!--        </div>-->
<!--        <div class="ml-3 form-text" style="color:rgb(125, 125, 125)">전과목 꼭 체크해주세요.</div>-->
<!--      </div>-->
<!--    </div>-->
    <div class="card mb-5">
      <div class="card-body">
        <h3 class="h3 card-title mb-4">성적 입력</h3>
        <div class="card-subtitle">
          반영과목 및 비율은 전과목으로 선택되어 점수가 환산됩니다.
        </div>
        <div class="px-5 mt-4" id="subject-box">
          <div class="row">
            <div class="form-group col-md-6">
              <label for="korean">국어</label>
              <input type="text" class="form-control" name="korean" id="korean" ngModel>
            </div>
            <div class="form-group col-md-6">
              <label for="english">영어</label>
              <input type="text" class="form-control" name="english" id="english" ngModel>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-6">
              <label for="math">수학</label>
              <input type="text" class="form-control" name="math" id="math" ngModel>
            </div>
            <div class="form-group col-md-6">
              <label for="society">사회</label>
              <input type="text" class="form-control" name="society" id="society" ngModel>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-6">
              <label for="science">과학</label>
              <input type="text" class="form-control" name="science" id="science" ngModel>
            </div>
            <div class="form-group col-md-6">
              <label for="history">한국사</label>
              <input type="text" class="form-control" name="history" id="history" ngModel>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-6">
              <label for="choice">선택</label>
              <input type="text" class="form-control" name="choice" id="choice" ngModel>
            </div>
          </div>
          <div class="d-flex justify-content-end">
            <input type="submit" class="btn" value="환산하기">
          </div>
        </div>
      </div>
    </div>
  </form>
  <div class="div1-5 box" id="result-box">
    <h2 class="h2 py-4 position-relative">
      환산 결과
      <div class="under-line-box position-absolute"></div>
    </h2>
<!--    <div class="row">-->
<!--      <div class="d-flex col-md-6 position-relative">-->
<!--        <form class="w-100">-->
<!--          <input type="text" class="w-100" name="uni" id="keyword" placeholder="대학명으로 검색해보세요">-->
<!--        </form>-->
<!--        <fa-icon class="position-absolute search-icon" [icon]="['fas', 'search']" size="lg"></fa-icon>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="div1-2">-->
<!--      <nav class="contents" id="filter-nav">-->
<!--        <ul>-->
<!--          <li><div id="orderGanada"> 가나다순</div></li>-->
<!--          <li><div id="orderDescend">등급 내림차순</div></li>-->
<!--          <li><div id="orderAscend">등급 오름차순</div></li>-->
<!--        </ul>-->
<!--      </nav>-->
<!--    </div>-->
    <div style="height: 565px; margin: 35px 0;" id="table">
      <div *ngIf="!result; else resultTable">
        <table class="table text-center">
          <thead>
          <tr>
            <th>대학명</th>
            <th>지역</th>
            <th>내신 환산</th>
            <th>과별 입결</th>
          </tr>
          </thead>
        </table>
        <div class="text-center no-result-message w-100" style="margin-top: 257px">
          입력된 점수가 없습니다.
        </div>
      </div>
      <ng-template #resultTable>
          <ng-container *ngIf="renewal; else exampleResultTable">
            <div class="table-responsive">
              <table class="table text-center text-nowrap" id="{{ eachTable.id }}" [ngClass]="{'hidden':eachTable.id!=tableTab}" *ngFor="let eachTable of conversionResult">
                <thead>
                <tr>
                  <th>대학명</th>
                  <th>지역</th>
                  <th>내신 환산</th>
                  <th>과별 입결</th>
                </tr>
                </thead>
                <tbody *ngFor="let result of eachTable.result">
                <tr>
                  <td>{{ result.university }}</td>
                  <td>{{ result.area }}</td>
                  <td>{{ result.converted }}</td>
                  <td *ngIf="result.link; else blank">
                    <a href="{{ result.link }}">
                      <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24"><path d="M6.188 8.719c.439-.439.926-.801 1.444-1.087 2.887-1.591 6.589-.745 8.445 2.069l-2.246 2.245c-.644-1.469-2.243-2.305-3.834-1.949-.599.134-1.168.433-1.633.898l-4.304 4.306c-1.307 1.307-1.307 3.433 0 4.74 1.307 1.307 3.433 1.307 4.74 0l1.327-1.327c1.207.479 2.501.67 3.779.575l-2.929 2.929c-2.511 2.511-6.582 2.511-9.093 0s-2.511-6.582 0-9.093l4.304-4.306zm6.836-6.836l-2.929 2.929c1.277-.096 2.572.096 3.779.574l1.326-1.326c1.307-1.307 3.433-1.307 4.74 0 1.307 1.307 1.307 3.433 0 4.74l-4.305 4.305c-1.311 1.311-3.44 1.3-4.74 0-.303-.303-.564-.68-.727-1.051l-2.246 2.245c.236.358.481.667.796.982.812.812 1.846 1.417 3.036 1.704 1.542.371 3.194.166 4.613-.617.518-.286 1.005-.648 1.444-1.087l4.304-4.305c2.512-2.511 2.512-6.582.001-9.093-2.511-2.51-6.581-2.51-9.092 0z"/></svg>
                    </a>
                  </td>
                  <ng-template #blank><td></td></ng-template>
                </tr>
                </tbody>
              </table>
            </div>
          </ng-container>
          <div class="text-center overflow-auto">
            <span class="px-2 item-hover" *ngFor="let i of tableNumber" (click)="tabTable(i)">{{ i }}</span>
          </div>
      </ng-template>
      <ng-template #exampleResultTable>
        <div class="mb-1" style="color: darkred">아래 결과는 예시 결과입니다. 입력하신 점수와 무관합니다.</div>
        <table class="table text-center">
          <thead>
          <tr>
            <th>대학명</th>
            <th>지역</th>
            <th>내신 환산</th>
            <th>과별 입결</th>
          </tr>
          </thead>
          <tbody *ngFor="let result of exampleResult">
            <tr>
              <td>{{ result.university }}</td>
              <td>{{ result.area }}</td>
              <td>{{ result.converted }}</td>
              <td *ngIf="result.link; else blank">
                <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15"><path d="M6.188 8.719c.439-.439.926-.801 1.444-1.087 2.887-1.591 6.589-.745 8.445 2.069l-2.246 2.245c-.644-1.469-2.243-2.305-3.834-1.949-.599.134-1.168.433-1.633.898l-4.304 4.306c-1.307 1.307-1.307 3.433 0 4.74 1.307 1.307 3.433 1.307 4.74 0l1.327-1.327c1.207.479 2.501.67 3.779.575l-2.929 2.929c-2.511 2.511-6.582 2.511-9.093 0s-2.511-6.582 0-9.093l4.304-4.306zm6.836-6.836l-2.929 2.929c1.277-.096 2.572.096 3.779.574l1.326-1.326c1.307-1.307 3.433-1.307 4.74 0 1.307 1.307 1.307 3.433 0 4.74l-4.305 4.305c-1.311 1.311-3.44 1.3-4.74 0-.303-.303-.564-.68-.727-1.051l-2.246 2.245c.236.358.481.667.796.982.812.812 1.846 1.417 3.036 1.704 1.542.371 3.194.166 4.613-.617.518-.286 1.005-.648 1.444-1.087l4.304-4.305c2.512-2.511 2.512-6.582.001-9.093-2.511-2.51-6.581-2.51-9.092 0z"/></svg>
              </td>
              <ng-template #blank><td></td></ng-template>
            </tr>
          </tbody>
        </table>
      </ng-template>
    </div>
    <div class="extra-box">
      * 예체능계열의 환산 결과와는 다를 수 있습니다.
    </div>
    <div class="extra-box" style="margin-bottom: 40px;">
      * 비교내신 등급환산 프로그램은 지원자의 등급계산 및 예전년도 성적자료와의 비교를 돕기 위한 단순 참고용이며, 실제 성적반영은 각 전형별 만점기준에 따른 환산 점수로 반영됩니다.
    </div>
  </div>
</div>
