<div class="container">
  <div class="p-5 text-center">
    <h1 class="h1 py-4">
      검정고시 전형 내신 환산
    </h1>
  </div>
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
<!--    <div class="card mb-5">-->
<!--      <div class="card-body">-->
<!--        <h3 class="card-title h3 mb-4">반영과목 및 비율 선택</h3>-->
<!--        <div class="form-check mb-2 ml-3">-->
<!--          <input class="form-check-input" type="radio" name="status" id="1" value="0" aria-describedby="radioHelpBlock">-->
<!--          <label class="form-check-label" id="radioHelpBlock" for="1">-->
<!--            전과목-->
<!--          </label>-->
<!--          &lt;!&ndash; <input type="radio" name="status" id="2" value="1"/><label for="2">필수과목(국/영/수/사/과/한)</label><br>-->
<!--          <input type="radio" name="status" id="3" value="2"/><label for="3">국/영/수 가중 반영</label>-->
<!--          <input type="radio" name="status" id="4" value="3"/><label for="4">상위</label> &ndash;&gt;-->
<!--        </div>-->
<!--        <div class="ml-3 form-text" style="color:rgb(125, 125, 125)">전과목 꼭 체크해주세요.</div>-->
<!--      </div>-->
<!--    </div>-->
    <div class="card mb-5">
      <div class="card-body">
        <h3 class="h3 card-title mb-4">성적 입력</h3>
        <div class="card-subtitle">
          반영과목 및 비율은 전과목으로 선택되어 점수가 환산됩니다.
        </div>
        <div class="px-5 mt-4" id="subject-box">
          <div class="row">
            <div class="form-group col-md-6">
              <label for="korean">국어</label>
              <input type="text" class="form-control" name="korean" id="korean" ngModel>
            </div>
            <div class="form-group col-md-6">
              <label for="english">영어</label>
              <input type="text" class="form-control" name="english" id="english" ngModel>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-6">
              <label for="math">수학</label>
              <input type="text" class="form-control" name="math" id="math" ngModel>
            </div>
            <div class="form-group col-md-6">
              <label for="society">사회</label>
              <input type="text" class="form-control" name="society" id="society" ngModel>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-6">
              <label for="science">과학</label>
              <input type="text" class="form-control" name="science" id="science" ngModel>
            </div>
            <div class="form-group col-md-6">
              <label for="history">한국사</label>
              <input type="text" class="form-control" name="history" id="history" ngModel>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-6">
              <label for="choice">선택</label>
              <input type="text" class="form-control" name="choice" id="choice" ngModel>
            </div>
          </div>
          <div class="d-flex justify-content-end">
            <input type="submit" class="btn" value="환산하기">
          </div>
        </div>
      </div>
    </div>
  </form>
  <div class="div1-5 box" id="result-box">
    <h2 class="h1 py-4 position-relative">
      환산 결과
      <div class="under-line-box position-absolute"></div>
    </h2>
    <div class="row">
      <div class="d-flex col-md-6 position-relative">
        <form class="w-100">
          <input type="text" class="w-100" name="uni" id="keyword" placeholder="대학명으로 검색해보세요">
        </form>
        <fa-icon class="position-absolute search-icon" [icon]="['fas', 'search']" size="lg"></fa-icon>
      </div>
    </div>
<!--    <div class="div1-2">-->
<!--      <nav class="contents" id="filter-nav">-->
<!--        <ul>-->
<!--          <li><div id="orderGanada"> 가나다순</div></li>-->
<!--          <li><div id="orderDescend">등급 내림차순</div></li>-->
<!--          <li><div id="orderAscend">등급 오름차순</div></li>-->
<!--        </ul>-->
<!--      </nav>-->
<!--    </div>-->
    <div style="height: 565px; margin: 35px 0;">
      <table class="table text-center" *ngIf="result; else noResultMessage">>
        <thead>
        <tr>
          <th>대학명</th>
          <th>지역</th>
          <th>내신 환산</th>
          <th>과별 입결</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
        <!-- js로 tbody 넘어옴 -->
      </table>
      <ng-template #noResultMessage>
        <table class="table text-center">
          <thead>
          <tr>
            <th>대학명</th>
            <th>지역</th>
            <th>내신 환산</th>
            <th>과별 입결</th>
          </tr>
          </thead>
          <!-- js로 tbody 넘어옴 -->
        </table>
        <div class="text-center no-result-message" style="margin-top: 257px">
          입력된 점수가 없습니다.
        </div>
      </ng-template>
    </div>
    <div class="extra-box">
      * 예체능계열의 환산 결과와는 다를 수 있습니다.
    </div>
    <div class="extra-box" style="margin-bottom: 40px;">
      * 비교내신 등급환산 프로그램은 지원자의 등급계산 및 예전년도 성적자료와의 비교를 돕기 위한 단순 참고용이며, 실제 성적반영은 각 전형별 만점기준에 따른 환산 점수로 반영됩니다.
    </div>
  </div>
</div>
