<!--컨텐츠 나중에 계속 추가할건지?-->
<div class="container contents-box">
  <h1 class="h1 text-right pr-2 mb-4">대학 입시 소양 교육</h1>
  <div class="divider-box"></div>
  <div class="p-3">
    <div class="my-5">
      <h2 class="h2 position-relative py-4">
        대입 전형 지원 전략 강의
        <div class="under-line-box position-absolute"></div>
      </h2>
      <div class="p-3">
        <ul class="item-list">
          <li>
            <div class="item-hover item-underline list-title" id="1-1" (click)="changeMaterialState('1-1')">
              1. 강사 소개, 커리큘럼 소개
            </div>
            <div id="material1-1" class="my-5 text-center hidden">
              <iframe width="{{ materialWidth }}" height="{{ materialHeight }}" src="https://www.youtube.com/embed/7rEQOlXro00" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </li>
          <li>
            <div class="item-hover item-underline" id="1-2" (click)="changeMaterialState('1-2')">
              2. 대학 입학 전형의 이해: 모집 시기, 지원 방법, 복수 지원 개념
            </div>
            <div id="material1-2" class="my-5 text-center hidden">
<!--              560 350-->
              <iframe width="{{ materialWidth }}" height="{{ materialHeight }}" src="https://www.youtube.com/embed/7HDHTbAYbps" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </li>
          <li>
            <div class="item-hover item-underline" id="1-3" (click)="changeMaterialState('1-3')">
              3. 학생부 종합 전형 지원 전략(1): 지원 가능 대학, 주요 특징, 자기소개서 공통 문항
            </div>
            <div id="material1-3" class="my-5 text-center hidden">
              <iframe width="{{ materialWidth }}" height="{{ materialHeight }}" src="https://www.youtube.com/embed/FoZls1wLWNs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </li>
          <li>
            <div class="item-hover item-underline" id="1-4" (click)="changeMaterialState('1-4')">
              4. 학생부 종합 전형 지원 전략(2): 대학별 자율문항, 대체 서식, 청소년 생활기록부
            </div>
            <div id="material1-4" class="my-5 text-center hidden">
              <iframe width="{{ materialWidth }}" height="{{ materialHeight }}" src="https://www.youtube.com/embed/4tNqgs30iuA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </li>
          <li>
            <div class="item-hover item-underline" id="1-5" (click)="changeMaterialState('1-5')">
              5. 논술 전형 지원 전략: 지원 가능 대학, 수능 최저 학력 기준
            </div>
            <div id="material1-5" class="my-5 text-center hidden">
              <iframe width="{{ materialWidth }}" height="{{ materialHeight }}" src="https://www.youtube.com/embed/IGZFHW9MgFQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </li>
          <li>
            <div class="item-hover item-underline" id="1-6" (click)="changeMaterialState('1-6')">
              6. 적성 전형 지원 전략: 지원 가능 대학, 주요 특징
            </div>
            <div id="material1-6" class="my-5 text-center hidden">
              <iframe width="{{ materialWidth }}" height="{{ materialHeight }}" src="https://www.youtube.com/embed/2R5ukwALZMI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </li>
          <li>
            <div class="item-hover item-underline" id="1-7" (click)="changeMaterialState('1-7')">
              7. 학생부 교과 전형 지원 전략: 지원 가능 대학, 주요 특징
            </div>
            <div id="material1-7" class="my-5 text-center hidden">
              <iframe width="{{ materialWidth }}" height="{{ materialHeight }}" src="https://www.youtube.com/embed/IfqNtYeICK4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="mb-5">
      <h2 class="h2 position-relative py-4">
        자기소개서 작성법 강의
        <div class="under-line-box position-absolute"></div>
      </h2>
      <div class="p-3">
        <ul class="item-list">
          <li>
            <div class="item-hover item-underline" id="2-1" (click)="changeMaterialState('2-1')">
              1. 대입 자기소개서 작성법(1): 학생부 종합전형 특징, 1번 문항 구성하기
            </div>
            <div id="material2-1" class="my-5 text-center hidden">
              <iframe width="{{ materialWidth }}" height="{{ materialHeight }}" src="https://www.youtube.com/embed/IfqNtYeICK4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </li>
          <li>
            <div class="item-hover item-underline" id="2-2" (click)="changeMaterialState('2-2')">
              2. 대입 자기소개서 작성법(2): 2번 문항, 3번 문항 구성하기
            </div>
            <div id="material2-2" class="my-5 text-center hidden">
              <iframe width="{{ materialWidth }}" height="{{ materialHeight }}" src="https://www.youtube.com/embed/YKfvzUXHgro" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </li>
          <li>
            <div class="item-hover item-underline" id="2-3" (click)="changeMaterialState('2-3')">
              3. 대입 자기소개서 작성법(3): 자기소개서 작성 유의사항
            </div>
            <div id="material2-3" class="my-5 text-center hidden">
              <iframe width="{{ materialWidth }}" height="{{ materialHeight }}" src="https://www.youtube.com/embed/zRVXRX4DVbo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </li>
          <li>
            <div class="item-hover item-underline" id="2-4" (click)="changeMaterialState('2-4')">
              4. 자기소개서 1번 문항 작성법 & 합격 사례 분석(1): 핵심 역량
            </div>
            <div id="material2-4" class="my-5 text-center hidden">
              <iframe width="{{ materialWidth }}" height="{{ materialHeight }}" src="https://www.youtube.com/embed/2U3QGD9k9tM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </li>
          <li>
            <div class="item-hover item-underline" id="2-5" (click)="changeMaterialState('2-5')">
              5. 자기소개서 1번 문항 작성법 & 합격 사례 분석(2): 문항 세부 분석
            </div>
            <div id="material2-5" class="my-5 text-center hidden">
              <iframe width="{{ materialWidth }}" height="{{ materialHeight }}" src="https://www.youtube.com/embed/2U3QGD9k9tM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </li>
          <li>
            <div class="item-hover item-underline" id="2-6" (click)="changeMaterialState('2-6')">
              6. 자기소개서 1번 문항 작성법 & 합격 사례 분석(3): 합격 사례 분석
            </div>
            <div id="material2-6" class="my-5 text-center hidden">
              <iframe width="{{ materialWidth }}" height="{{ materialHeight }}" src="https://www.youtube.com/embed/XLHJjB7IfBE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </li>
          <li>
            <div class="item-hover item-underline" id="2-7" (click)="changeMaterialState('2-7')">
              7. 자기소개서 2번 문항 작성법 & 합격 사례 분석(1): 핵심 역량
            </div>
            <div id="material2-7" class="my-5 text-center hidden">
              <iframe width="{{ materialWidth }}" height="{{ materialHeight }}" src="https://www.youtube.com/embed/jyqG3RZWBiw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </li>
          <li>
            <div class="item-hover item-underline" id="2-8" (click)="changeMaterialState('2-8')">
              8. 자기소개서 2번 문항 작성법 & 합격 사례 분석(2): 문항 세부 분석
            </div>
            <div id="material2-8" class="my-5 text-center hidden">
              <iframe width="{{ materialWidth }}" height="{{ materialHeight }}" src="https://www.youtube.com/embed/gCH1oW7TY2M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </li>
          <li>
            <div class="item-hover item-underline" id="2-9" (click)="changeMaterialState('2-9')">
              9. 자기소개서 2번 문항 작성법 & 합격 사례 분석(3): 합격 사례 분석
            </div>
            <div id="material2-9" class="my-5 text-center hidden">
              <iframe width="{{ materialWidth }}" height="{{ materialHeight }}" src="https://www.youtube.com/embed/FQgEzGc4sq8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </li>
          <li>
            <div class="item-hover item-underline" id="2-10" (click)="changeMaterialState('2-10')">
              10. 자기소개서 3번 문항 작성법 & 합격 사례 분석(1): 핵심 역량
            </div>
            <div id="material2-10" class="my-5 text-center hidden">
              <iframe width="{{ materialWidth }}" height="{{ materialHeight }}" src="https://www.youtube.com/embed/rh9azip3p0E" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </li>
          <li>
            <div class="item-hover item-underline" id="2-11" (click)="changeMaterialState('2-11')">
              11. 자기소개서 3번 문항 작성법 & 합격 사례 분석(2): 세부 문항 분석
            </div>
            <div id="material2-11" class="my-5 text-center hidden">
              <iframe width="{{ materialWidth }}" height="{{ materialHeight }}" src="https://www.youtube.com/embed/1p35mQ9yPLA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </li>
          <li>
            <div class="item-hover item-underline" id="2-12" (click)="changeMaterialState('2-12')">
              12. 자기소개서 3번 문항 작성법 & 합격 사례 분석(3): 합격 사례 분석
            </div>
            <div id="material2-12" class="my-5 text-center hidden">
              <iframe width="{{ materialWidth }}" height="{{ materialHeight }}" src="https://www.youtube.com/embed/OvAzaKFwtxM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="mb-5">
      <h2 class="h2 position-relative py-4">
        면접 준비 강의
        <div class="under-line-box position-absolute"></div>
      </h2>
      <div class="p-3">
        <ul class="item-list">
          <li>
            <div class="item-hover item-underline" id="3-1" (click)="changeMaterialState('3-1')">
              1. 2021 면접 준비 교육
            </div>
            <div id="material3-1" class="my-5 text-center hidden">
              <iframe width="{{ materialWidth }}" height="{{ materialHeight }}" src="https://www.youtube.com/embed/HoPuhkDeMNA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

