<!--컨텐츠 나중에 계속 추가할건지?-->
<div class="container contents-box">
  <h1 class="h1 text-right pr-2 mb-4">대학 입시 소양 교육</h1>
  <div class="divider-box"></div>
  <div class="p-3">
    <div class="my-5">
      <h2 class="h2 position-relative py-4">
        대입 전형 지원 전략 강의
        <div class="under-line-box position-absolute"></div>
      </h2>
      <div class="p-3">
        <ul>
          <li>1. 강사 소개, 커리큘럼 소개</li>
          <li>2. 대학 입학 전형의 이해</li>
          <li>3. 검정고시 출신자 대입 전형 개요(1)</li>
          <li>4. 검정고시 출신자 대입 전형 개요(2)</li>
          <li>5. 학생부 교과 전형 지원 전략</li>
          <li>6. 학생부 교과 전형 지원 전략(1)</li>
          <li>7. 학생부 교과 전형 지원 전략(2)</li>
          <li>8. 논술 전형 지원 전략</li>
          <li>9. 적성 전형 지원 전략</li>
        </ul>
      </div>
    </div>
    <div class="mb-5">
      <h2 class="h2 position-relative py-4">
        자기소개서 작성법 강의
        <div class="under-line-box position-absolute"></div>
      </h2>
      <div class="text-center pb-5">
        추후 업로드 예정
      </div>
    </div>
    <div class="mb-5">
      <h2 class="h2 position-relative py-4">
        면접 준비 강의
        <div class="under-line-box position-absolute"></div>
      </h2>
      <div class="text-center pb-5">
        추후 업로드 예정
      </div>
    </div>
  </div>
</div>
