/* You can add global styles to this file, and also import other style files */
@import "scss/_variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

html, body{
  height: 100%;
}

div {
  font-family: 'Nanum Gothic', sans-serif;
}

.btn{
  color: $dark !important;
  background-color: $primary !important;
  border: solid 1px $primary !important;
  border-radius: 0 !important;
}

.btn-general{
  background-color: $secondary !important;
  color: $dark-90 !important;
  border: solid 1px $dark-90 !important;
}

.under-line-box{
  background-color: $shadow;
  width: 18%;
  height: 1rem;
  opacity: 0.8;
  z-index: -1;
  bottom: 19%;
  left: 0.8%;

  @media (max-width: 992px) {
    width: 50%;
  }
}

.bg-bright{
  background-color: $bright;
}

.bg-primary{
  background-color: $primary;
}

.bg-shadow{
  background-color: $shadow;
}

.bg-background{
  background-color: $background;
}

.bg-white-50{
  background-color: rgba(245, 245, 245, 0.6);
}

.round-10{
  border-radius: 10px;
}

.click-menu{
  font-size: large;
  box-shadow: 1px 1px 3px 1px #dadce0 inset;
  min-width: 16%;
  text-align: center;
}

.selected-menu{
  font-size: larger !important;
  font-weight: bolder;
  background-color: $shadow;
  color: #ECEFF1;
  border: 1px solid $shadow;
  box-shadow: 1px 1px 3px 1px #dadce0 !important;
}

.click-menu:hover{
  cursor: pointer;
  margin:0;
}

.contents-box{
  padding-top: 8rem;
}

.divider-box{
  border-bottom: 2.5px solid $shadow;
  width: 100%;
  height: 1px;
  margin: 0;
  box-shadow: 1px 1px 3px 1px $shadow;
}

.fixed-bottom-btn{
  padding: 1rem;
  font-size: 1rem;
}

.item-hover:hover{
  cursor: pointer;
}

.item-underline:hover{
  text-decoration: underline;
}

.process-box{
  display: table;
  background-color: white;
  border: 7px solid $primary;
  width: 100%;
  height: 125px;
  box-shadow: 1px 1px 2px $shadow inset;
}

.process-title{
  font-size: 1.3rem;
  font-weight: bolder;
  text-align: left;
  padding-left: 0.5rem;
  margin-bottom: -0.5rem;
  text-shadow: 1px 1px 2px $shadow;
  //color: $secondary;
}

.process-body{
  display: table-row;
  width: 100%;
  height: 125px;
}

.process-detail{
  display: table-cell;
  color: black;
  padding: 1rem 0.5rem;
  width: 100%;
  vertical-align: middle;
}

.set-focusing:hover{
  cursor: pointer;
  background-color: $shadow !important;
  color: white;
  border: 7px solid $shadow;
  box-shadow: 7px 7px 2px $shadow !important;
  font-weight: bold;
}

.hidden{
  display: none;
}

.primary-text{
  color: $warning;
  font-weight: bold;
  font-size: large;
}

.item-list{
  font-size: 1.1rem;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
