$primary: #f8fb4c !default;
$secondary: #f1dbd0 !default;
$shadow: #5f5956 !default;
$background: #3a3a3a !default;
$dark: #0D0D0D !default;
$dark-90: rgba(13,13,13,0.9) !default;
$bright: #c5c5c5 !default;
$warning: #7f0000 !default;
