$primary: #BF93BC !default;
$secondary: #D1BFD9 !default;
$shadow: #A69281 !default;
$background: #595959 !default;
$dark: #0D0D0D !default;
$dark-90: rgba(13,13,13,0.9) !default;
$bright: #c5c5c5 !default;
