@import "src/scss/variables";
@import "src/styles";

.table td{
  height: 50px;
}

.additional-box{
  padding: 15px 23px 15px 23px;
  width: 100%;
  text-align: left !important;
}

input[name='month'], input[name='date'] {
  width: 40px;
}

.highlight-text{
  box-shadow: inset 0 -20px 0 $primary;
  border-radius: 10px;
}
